$code1: #37e9e9;
$code2: #f85757;
$code3: #b689ff;
$code4: #FFFFFF;

.highlight table td { padding: 5px; color: $code4 }
.highlight table pre { margin: 0; color: $code4 }
.highlight .cm {
  color: $code4;
  font-style: italic;
}
.highlight .cp {
  color: $code4;
  font-weight: bold;
}
.highlight .c1 {
  color: $code4;
  font-style: italic;
}
.highlight .cs {
  color: $code4;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: $code4;
  font-style: italic;
}
.highlight .err {
  color: $code2;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: $code4;
  background-color: #ffdddd;
}
.highlight .ge {
  color: $code4;
  font-style: italic;
}
.highlight .gr {
  color: $code2;
}
.highlight .gh {
  color: $code4;
}
.highlight .gi {
  color: $code4;
  background-color: #ddffdd;
}
.highlight .go {
  color: $code4;
}
.highlight .gp {
  color: $code4;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: $code4;
}
.highlight .gt {
  color: $code2;
}
.highlight .kc {
  color: $code4;
  font-weight: bold;
}
.highlight .kd {
  color: $code4;
  font-weight: bold;
}
.highlight .kn {
  color: $code4;
  font-weight: bold;
}
.highlight .kp {
  color: $code4;
  font-weight: bold;
}
.highlight .kr {
  color: $code2;
  font-weight: bold;
}
.highlight .kt {
  color: $code1;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: $code3;
  font-weight: bold;
}
.highlight .mf {
  color: $code1;
}
.highlight .mh {
  color: $code1;
}
.highlight .il {
  color: $code1;
}
.highlight .mi {
  color: $code1;
}
.highlight .mo {
  color: $code1;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: $code1;
}
.highlight .sb {
  color: $code2;
}
.highlight .sc {
  color: $code2;
}
.highlight .sd {
  color: $code2;
}
.highlight .s2 {
  color: $code2;
}
.highlight .se {
  color: $code2;
}
.highlight .sh {
  color: $code2;
}
.highlight .si {
  color: $code2;
}
.highlight .sx {
  color: $code2;
}
.highlight .sr {
  color: $code3;
}
.highlight .s1 {
  color: $code2;
}
.highlight .ss {
  color: $code3;
}
.highlight .s {
  color: $code2;
}
.highlight .na {
  color: $code1;
}
.highlight .bp {
  color: $code2;
}
.highlight .nb {
  color: $code1;
}
.highlight .nc {
  color: $code1;
  font-weight: bold;
}
.highlight .no {
  color: $code1;
}
.highlight .nd {
  color: $code2;
  font-weight: bold;
}
.highlight .ni {
  color: $code3;
}
.highlight .ne {
  color: $code2;
  font-weight: bold;
}
.highlight .nf {
  color: $code2;
  font-weight: bold;
}
.highlight .nl {
  color: $code2;
  font-weight: bold;
}
.highlight .nn {
  color: $code4;
}
.highlight .nt {
  color: $code1;
}
.highlight .vc {
  color: $code1;
}
.highlight .vg {
  color: $code1;
}
.highlight .vi {
  color: $code1;
}
.highlight .nv {
  color: $code1;
}
.highlight .ow {
  color: $code4;
  font-weight: bold;
}
.highlight .o {
  color: $code1;
  font-weight: bold;
}
.highlight .w {
  color: $code1;
}
.highlight {
  font-size: 11px;
  color: $code4;
  background-color: #313131;
}
